.MuiPaper-root {
    margin: 0 auto;
}

.btn-class.MuiButton-root {
    border: unset !important;
    outline: unset !important;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    min-width: 150px;
    min-height: 44px;
    border-radius: 28px;
    background-color: #00b464 !important;
    color: #ffffff;
    box-shadow: unset;
    text-transform: none;
}

.menu-tab {
    min-width: 900px;

}

.btn-class.MuiButton-root :hover {
    box-shadow: unset;
}

.MuiPaper-root.MuiTableContainer-root {
    min-width: 800px !important;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.12)
}

.MuiTypography-h5.main-title {
    color: #00b464 !important;
}

.MuiCardContent-root {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.MuiPaper-root.MuiCard-root {
    box-shadow: 0px 25px 30px rgba(112, 136, 210, 0.2);
    margin-top: 30px;
}

.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
    top: 174 !important;
}

.btn-class-default.MuiButton-root {
    border: unset !important;
    font-family: "Roboto", sans-serif;
    outline: unset !important;
    font-size: 1rem;
    font-weight: 500;
    min-width: 150px;
    min-height: 44px;
    border-radius: 28px;
    background-color: #e7e7f0 !important;
    color: #000;
    box-shadow: unset;
    text-transform: none;
}

.MuiFormHelperText-root {
    color: red !important;
}

.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1 {
    font-weight: bold;
}

.btn-class-default.MuiButton-root :hover {
    box-shadow: unset;
}

.max-width-in {
    padding-left: 40px;
}

.MuiDialog-paperWidthSm {
    max-width: 650px !important;
    width: 100% !important;
    border-radius: 20px !important;
    padding: 20px;
}

.check-funds .MuiFormControl-root {
    width: 170px;
}

.MuiPaper-root.MuiCard-root {
    min-width: 473px;
    width: 100%;
}

.login-button {
    list-style: none !important;
    text-decoration: none !important;
}

.table-loader {
    color: #00b464 !important;
    position: relative;
    margin: 20% auto 10% auto;
    left: 142%;
}


.modal-title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    color: #212B36;
}

.modal-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    text-align: center;
    color: #014077;
}

.Content-dashboard {
    position: relative;
    margin-top: 100px;
}

div.max-width {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}


.drawer-visible-xs {
    display: none !important;
}

.top-head {
    background-color: #cae2eb !important;
}

.head-title {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.intitle {
    font-size: 16px;
    font-weight: bold;

}

.intitle-account {
    font-size: 14px;
    color: rgb(74,
            74,
            233);

}

.intitle-due {
    font-size: 12px;
    color: rgb(250, 28, 28);
}

.MuiCardContent-root:last-child {
    padding-bottom: 10px !important;
}

.more-height {
    height: 100%;
    min-height: 340px;
    border: 1px solid rgb(240, 240, 240);
    padding: 12px;
    background-color: #f1eded !important;
}

.emoji {
    color: red;

}

.background-grey {
    min-height: 50px;
    padding: 12px;
    background-color: #fff;
}

.menu-icon {
    position: absolute !important;
    right: 2%;
    top: 0;
}

.margin-top-head {
    margin-top: 50px
}

.form-select .MuiFormControl-root {
    max-width: 280px !important;
    width: 100% !important;
}

.react-datetime-picker__clear-button {
    display: none !important;
}

.react-datetime-picker__inputGroup__input option {
    display: none !important;
}

.react-datetime-picker.react-datetime-picker--closed,
.react-datetime-picker.react-datetime-picker--open {
    width: 92%;
    min-height: 48px;
}

.modal-title {
    font-size: 25px;
}

.lead-textarea {
    padding: 12.5px 14px !important;
}

.lead-textarea {
    resize: unset;
    height: unset;
    line-height: unset;
    border-color: #cccccc !important;
    color: #656565 !important;
    font-size: 0.875rem !important;
    border-radius: 5px;
}

.lead-textarea:focus {
    border: 2px solid #3f51b5 !important;
    outline: -webkit-focus-ring-color auto 0px !important;
}

@media (min-width: 768px) {
    .col-md-4 {
        max-width: unset;
    }
}

@media (max-width: 991px) {
    .drawer-visible-xs {
        display: inline-flex !important;
    }

    .custom-card.card-dashboard .card-bg-grey-user {
        width: 100%;
        height: auto;
        padding: 15px 15px;
    }

    .custom-horizontal-tab.visible-xs {
        display: flex !important;
    }

    .visible-xs {
        display: block;
    }

    .bg-grey {
        background: #fff;
    }

    .max-width-in {
        padding-left: unset;
    }

    .MuiPaper-root.MuiTableContainer-root {
        min-width: unset !important;
    }

}